#------------------------------------------------------------------#
#                            PHPSTORM                              #
#------------------------------------------------------------------#
.buildpath
.project
.settings
.metadata
.idea


#------------------------------------------------------------------#
#                            DARWIN                                #
#------------------------------------------------------------------#
.DS_Store


#------------------------------------------------------------------#
#                            LOG FILES                             #
#------------------------------------------------------------------#
**/logs
*.log
*.err


#------------------------------------------------------------------#
#                             DOT.ENV                              #
#------------------------------------------------------------------#
.env


#------------------------------------------------------------------#
#                             ARCHIVES                             #
#                                                                  #
#   GIT CAN HANDLE FILES AND FOLDERS BETTER IF THEY ARE UNPACKED   #
#           YOU CAN COMMIT RAW FILES OR FOLDERS DIRECTLY           #
#                SO IT IS EASIER TO ACCESS THE DATA                #
#------------------------------------------------------------------#
*.7z
*.jar
*.rar
*.zip
*.gz
*.tgz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# packing-only formats
*.iso
*.tar

# package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp


#------------------------------------------------------------------#
#                               COMPOSER                           #
#------------------------------------------------------------------#
**/vendor/
**/composer.lock


#------------------------------------------------------------------#
#                               TESTING                            #
#------------------------------------------------------------------#
**/tests/**/_generated/
**/tests/**/_output/
**/tests/report/


#------------------------------------------------------------------#
#                             SOURCE TYPO3                         #
#------------------------------------------------------------------#
**/htdocs/
**/webroot/
**/typo3_web/


#------------------------------------------------------------------#
#                          TEMPORARY                               #
#------------------------------------------------------------------#
**/temp
**/tmp
*.tmp
*.temp
**/backup
*.backup

#------------------------------------------------------------------#
#                             DUMPS                                #
#------------------------------------------------------------------#
**/*.stackdump

#------------------------------------------------------------------#
#                         AUTO IGNORING                            #
#------------------------------------------------------------------#
**.ignore.**
